.post{
    border: 1px solid black;
    border-radius: 10px;
    color: black;
    background-color: wheat;
    padding: 20px;
    font-weight: 500;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    font-size: 20px;
    text-align: center;
}

.date{
    border-radius: 10px;
    font-size: 0.8em;
    color: rgb(255, 255, 255);
    text-align: left;
    padding: 5px;
    background-color: black;
    width: fit-content;
}

span{
    font-size: 0.8em;
    color: gray;
    display: block;
    margin-top: 10px;
    padding-right: 30px;
    font-style: italic;
    text-align: right;
}